<h1>¡Hola <%=alumno.nombre%>!</h1>

<p>
  Tu cuenta ha sido activada, Gracias!
</p>

<p>
  Puedes iniciar sesión con tu email <%=alumno.email%> y tu nueva contraseña: <strong><%=alumno.plainPassword%></strong>
</p>
