<!DOCTYPE html>
<html lang="es" dir="ltr" ng-app="diplomadoSnell">

  <head>
    <meta charset="utf-8">
    <title>Diplomado</title>
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="bower/alertify-js/build/css/alertify.min.css">
    <link rel="stylesheet" href="bower/alertify-js/build/css/themes/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/login.css">
  </head>

  <body>
    <!-- Encabezado -->
    <ng-include src="main.usuario.header"></ng-include>
    <!-- Cuerpo (vista) -->
    <div class="container main ng-cloack" ng-cloack>
      <ng-view></ng-view>
      <!-- Pie de vista -->
    </div>
    <div class="container">
      <ng-include src="main.footer"></ng-include>
    </div>



    <!-- Dependencias -->
    <script src="bower/sails.io.js/dist/sails.io.js" charset="utf-8"></script> <!--sockets en sailsjs-->
    <script src="bower/alertify-js/build/alertify.min.js" charset="utf-8"></script>
    <script src="bower/lodash/dist/lodash.min.js" charset="utf-8"></script>
    <script src="bower/moment/min/moment.min.js" charset="utf-8"></script>
    <script src="bower/moment/locale/es-us.js" charset="utf-8"></script>


    <script src="bower/angular/angular.min.js" charset="utf-8"></script>
    <script src="bower/angular-sails/dist/angular-sails.min.js" charset="utf-8"></script>
    <script src="bower/angular-route/angular-route.min.js" charset="utf-8"></script>
    <script src="bower/angular-sanitize/angular-sanitize.min.js" charset="utf-8"></script>
    <script src="bower/angular-file-upload/dist/angular-file-upload.min.js"></script>

    <!-- Aplicación principal y configuraciones -->
    <script src="js/app/app.js" charset="utf-8"></script>
    <script src="js/app/routes.js" charset="utf-8"></script>
    <script src="js/app/sockets.js" charset="utf-8"></script>
    <script src="js/app/interceptor.js" charset="utf-8"></script>

    <!-- Factories -->
    <script src="js/app/factories/usuariosFactory.js" charset="utf-8"></script>
    <script src="js/app/factories/alumnosFactory.js" charset="utf-8"></script>

    <!-- Directivas -->
    <script src="js/app/directives/direccionDirective.js" charset="utf-8"></script>
    <script src="js/app/directives/titulo-paginaDirective.js" charset="utf-8"></script>

    <!-- Filters -->
    <script src="js/app/filters/sino.js" charset="utf-8"></script>
    <script src="js/app/filters/tonow.js" charset="utf-8"></script>

    <!-- Resources -->

    <!-- Controllers -->
    <script src="js/app/controllers/loginController.js" charset="utf-8"></script>
    <script src="js/app/controllers/dashboardController.js" charset="utf-8"></script>
    <script src="js/app/controllers/usuariosController.js" charset="utf-8"></script>
    <script src="js/app/controllers/usuarioController.js" charset="utf-8"></script>
    <script src="js/app/controllers/alumnosController.js" charset="utf-8"></script>
    <script src="js/app/controllers/alumnoController.js" charset="utf-8"></script>
    <script src="js/app/controllers/acercaController.js" charset="utf-8"></script>
    <script src="js/app/controllers/registroController.js" charset="utf-8"></script>

  </body>
</html>
