<titulo-pagina>
  Acerca de...
</titulo-pagina>

<div class="jumbotron">
  <h1>Diplomado Snell</h1>
  <p>
    Aprendiendo SailsJS, AngularJS, MongoDB y Cordova.
  </p>
  <p class="small">
    Erik E. Corona Vásquez
  </p>
</div>
