<titulo-pagina id="fresco">
  Alumnos
  <a ng-href="#/alumno/nuevo" class="btn btn-primary btn-sm" >
    <i class="fas fa-plus" aria-hidden></i>
  </a>
</titulo-pagina>


<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>id</th>
      <th>Activo</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Ingreso</th>
      <th>Creado por</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="a in main.alumnos.data">
      <td>{{$index+1}}</td>
      <td>
        {{a.id}}
      </td>
      <td class="text-center"><span ng-bind-html="a.activo|sino:'grafico'"></span></td>
      <td>
        {{a.nombre}}
      </td>
      <td>{{a.email}}</td>
      <td>{{a.createdAt|toNow}}</td>
      <td>{{a.usuario.nombre||'Solito'}}</td>
      <td>
        <a class="btn btn-info btn-xs" ng-href="#/alumno/{{a.id}}">
          <i class="fas fa-pencil-alt" aria-hidden></i>
        </a>
        <button type="button" class="btn btn-danger btn-xs" ng-click="borrar(a)">
          <i class="fas fa-trash-alt" aria-hidden></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
