<titulo-pagina>
  Alumno <span ng-if="a.id" ng-bind="a.nombre"></span>
</titulo-pagina>

<form name="nuevoAlumno">

<div class="row">
  <div class="col-xs-12 text-center">
    <div class="avatar-alumno" style="background-image: url(images/alumnos/{{a.id}}.jpg?a={{random}})"></div>
  </div>
</div>

  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn" ng-class="{'btn-primary':tab=='generales', 'btn-default':tab!='generales'}" ng-click="tab='generales'">
        Generales
      </button>
      <button type="button" class="btn" ng-class="{'btn-primary':tab=='direccion', 'btn-default':tab!='direccion'}" ng-click="tab='direccion'">
        Dirección
      </button>
    </div>
  </div>

  <hr>
  <div ng-show="tab=='generales'" class="mi-tab">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="">Nombre de Alumno</label>
          <input type="text" class="form-control" ng-model="a.nombre" name="nombre" required ng-disabled="!editando && a.id">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" ng-model="a.email" name="email" required ng-disabled="!editando && a.id">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="">Contraseña</label>
          <input type="password" class="form-control" ng-model="password" ng-disabled="!editando && a.id ">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="">Verificar Contraseña</label>
          <input type="password" class="form-control" ng-model="password2" ng-disabled="!editando && a.id ">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 small">
        <div class="error" ng-show="!a.id && !password">Debe poner una contraseña.</div>
        <div class="error" ng-show="password!=password2">Las contraseñas deben coincidir.</div>
        <div class="error" ng-show="password.length<8">La contraseña debe ser de por lo menos 8 letras.</div>
      </div>
    </div>

  </div>



  <div ng-show="tab=='direccion'" class="mi-tab">
    <direccion objeto="a.direccion" bloqueado="!editando && a.id"></direccion>
  </div>
  <div ng-show="tab=='direcciont'" class="mi-tab">
    <direccion objeto="a.direccionTrabajo" bloqueado="!editando && a.id" light="true"></direccion>
  </div>

</form>

<div class="row separado" ng-show="a.id">
    <div class="col-lg-12">
      <div class="col-lg-2">
        <label>Imagen</label>
        <input type="file" nv-file-select="" uploader="uploader"/><br/>
      </div>
      <div class="col-lg-1 col-lg-offset-1">
        <button class="btn btn-warning btn-xs" ng-click="cambiarimagen=false">
            <i class="fa fa-ban"></i> Cancelar
        </button>
      </div>
    </div>
</div>

<div class="row separado" ng-show="uploader.queue.length">
  <div class="col-lg-8">
    <table class="table">
        <thead>
            <tr>
                <th width="50%">Nombre</th>
                <th ng-show="uploader.isHTML5">Tamaño</th>
                <th ng-show="uploader.isHTML5">Progreso</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in uploader.queue">
            <td>
              <strong>{{ item.file.name }}</strong>
              <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
            </td>
            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td ng-show="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Subir
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Borrar
                </button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-xs-4" ng-show="!editando && a.id">
    <button type="button" ng-click="editar(true)" class="btn btn-block btn-default">
      Editar
    </button>
  </div>
  <div class="col-xs-4" ng-show="editando">
    <button type="button" ng-click="editar(false)" class="btn btn-block btn-warning">
      Cancelar
    </button>
  </div>
  <div class="col-xs-4 col-xs-offset-4" ng-show="editando || !a.id">
    <button type="button" ng-click="guardarAlumno()" class="btn btn-block btn-primary" ng-disabled="nuevoAlumno.$invalid || !a.id && !password || password!=password2 || password.length<8">
      Guardar
    </button>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-12">
    Alumno
    <pre>{{a}}</pre>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Resplado Alumno
    <pre>{{respaldoAlumno}}</pre>
  </div>
</div>
