<form class="form-signin">
  <h2 class="form-signin-heading">Inicio de Sesión</h2>
  <label for="inputEmail" class="sr-only">Usuario/Email</label>
  <input type="text" id="inputEmail" class="form-control" placeholder="Usuario/Email" required autofocus ng-model="usuario">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
  <button class="btn btn-lg btn-primary btn-block" type="button"  ng-click="main.usuario.login(usuario, password)" ng-disabled="!usuario || !password">
    Entrar
  </button>
</form>
