<!-- es una activacion, traemos token y activar en los params -->
<div ng-if="modo=='activacion'">
  <!--token activado-->
  <div ng-show="usuarioActivado.id">
    <div class="jumbotron">
      <h3>
        Alumno {{usuarioActivado.nombre}}
      </h3>
      <p>
         ¡Tu cuenta ha sido activada!
      </p>
      <p class="small">En breve recibirás un email con las instrucciones para entrar.</p>
    </div>
  </div>

  <!--cuando el token no ha sido activado -->
  <div ng-show="!usuarioActivado.id">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="">Token</label>
          <input type="text" class="form-control" ng-model="token">
          <p class="help-block">El token que se le envió por email.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <button type="button" class="btn btn-primary btn-block" ng-click="activar()" ng-disabled="!token || token.length < 36 || token.length>36">
          <i ng-class="{'fas fa-paper-plane':!ocupado, 'fas fa-spinner spin':ocupado}" aria-hidden></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!--es un registro (no trae parametro token ni activar en los params) -->
<div ng-if="modo=='registro'">
  <h1>Registro</h1>
  <hr>
  <form name="registro">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" ng-model="reg.nombre" required>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" ng-model="reg.email" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-right">
        <button type="button" class="btn btn-default" ng-click="registrar()" ng-disabled="registro.$invalid || ocupado">
          <i ng-class="{'far fa-save':!ocupado, 'fas fa-spinner spin':ocupado}" aria-hidden></i>
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
