<titulo-pagina>
  Usuarios
  <a ng-href="#/usuario/nuevo" class="btn btn-primary btn-sm" >
    <i class="fas fa-plus" aria-hidden></i>
  </a>
</titulo-pagina>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="u in main.usuario.usuarios">
    <a ng-href="#/usuario/{{u.id}}">
      {{u.nombre}} ({{u.perfil}})
      <span class="badge" ng-if="u.alumnos.length">{{u.alumnos.length}}</span>
    </a>
    <span class="pull-right">
      <button type="button" class="btn btn-danger btn-xs" ng-click="borrar(u)">
        <i class="fas fa-trash-alt" aria-hidden></i>
      </button>
    </span>
  </li>
</ul>
