<titulo-pagina>
  Usuario
</titulo-pagina>
<form name="nuevoUsuario">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="">Nombre Completo</label>
        <input type="text" class="form-control" ng-model="u.nombre" name="nombre" required ng-disabled="!editando && u.id && u.id">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="">Nombre de Usuario</label>
        <input type="text" class="form-control" ng-model="u.usuario" name="usuario" required ng-disabled="!editando && u.id">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" ng-model="u.email" name="email" required ng-disabled="!editando && u.id">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="">Perfil</label>
        <select class="form-control" ng-model="u.perfil" ng-options="p as p for p in perfiles" required ng-disabled="!editando && u.id" name="perfil"></select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="">Contraseña</label>
        <input type="password" class="form-control" ng-model="password" ng-disabled="!editando && u.id ">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="">Verificar Contraseña</label>
        <input type="password" class="form-control" ng-model="password2" ng-disabled="!editando && u.id ">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 small">
      <div class="error" ng-show="!u.id && !password">Debe poner una contraseña.</div >
      <div class="error" ng-show="password!=password2">Las contraseñas deben coincidir.</div >
      <div class="error" ng-show="password.length<8">La contraseña debe ser de por lo menos 8 letras.</div >
    </div>
  </div>


  <div class="row">
    <div class="col-xs-4" ng-show="!editando && u.id">
      <button type="button" ng-click="editar(true)" class="btn btn-block btn-default" >
        Editar
      </button>
    </div>
    <div class="col-xs-4" ng-show="editando">
      <button type="button" ng-click="editar(false)" class="btn btn-block btn-warning" >
        Cancelar
      </button>
    </div>
    <div class="col-xs-4 col-xs-offset-4" ng-show="editando || !u.id">
      <button type="button" ng-click="guardarUsuario()" class="btn btn-block btn-primary" ng-disabled="nuevoUsuario.$invalid || !u.id && !password || password!=password2 || password.length<8" >
        Guardar
      </button>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-xs-12">
      Usuario
      <pre>{{u}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Resplado Usuario
      <pre>{{respaldoUsuario}}</pre>
    </div>
  </div>

</form>
