<div class="row separado">
  <div class="col-xs-2">
    <div class="form-group">
      <label>País</label>
      <select ng-model="objeto.pais" class="form-control" ng-disabled="bloqueado">
        <option value="México">México</option>
      </select>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="form-group">
      <label>C.P. : *</label><br>
      <input type="text" class="form-control" ng-model="objeto.cp" ng-disabled="bloqueado">
      <p class="help-block"></p>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label>Estado</label>
      <input type="text" class="form-control" ng-model="objeto.estado" ng-disabled="bloqueado">
      <p class="help-block"></p>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label>Ciudad:</label>
      <input type="text" class="form-control" ng-model="objeto.ciudad" ng-disabled="bloqueado">
      <p class="help-block"></p>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label>Municipio:</label>
      <input type="text" class="form-control" ng-model="objeto.municipio" ng-disabled="bloqueado">
      <p class="help-block"></p>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="form-group">
      <label>Asentamiento: </label>
      <select class="form-control" required ng-model="objeto.colonia" ng-change="seleccionarCP()" ng-disabled="bloqueado">
        <option ng-value="r.asenta" ng-repeat="r in resultadosCP">{{r.tipoAsenta}} {{r.asenta}}</option>
      </select>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <label for="">Tipo Asentamiento</label>
      <input type="text" class="form-control" placeholder="" ng-model="objeto.tipoColonia" ng-disabled="bloqueado">
    </div>
  </div>
  <div class="col-xs-5">
    <div class="form-group">
      <label>Nombre Vialidad: *</label>
      <input type="text" class="form-control" ng-model="objeto.nombreVialidad" ng-disabled="bloqueado">
    </div>
  </div>
  <div class="col-xs-2">
    <div class="form-group">
      <label>Num. Ext.: </label>
      <input type="text" class="form-control" ng-model="objeto.numext" ng-disabled="bloqueado">
    </div>
  </div>
  <div class="col-xs-2">
    <div class="form-group">
      <label>Num. Int.:</label>
      <input type="text" class="form-control" ng-model="objeto.numint" ng-disabled="bloqueado">
    </div>
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <label>Teléfono:</label>
      <input type="text" class="form-control" ng-model="objeto.telefono" ng-disabled="bloqueado">
    </div>
  </div>
</div>
<div class="row separado" ng-hide="light">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="">Referencia</label>
      <textarea class="form-control" ng-model="objeto.referencia" ng-disabled="bloqueado"></textarea>
    </div>
  </div>
</div>
