html{
  height: 100%;
}

body{
  height: 100%;
}


.main{
  padding-top: 60px;
  min-height:600px;
}
.small{
  font-size: 0.8em;
}

.mi-tab{
  min-height: 400px;
}

.titulo-pagina{
  border-bottom: 1px solid #ddd;
  padding-bottom:8px;
  margin-bottom: 5px;
}

.titulo-pagina .btn{
  font-size: 0.4em;
}

.small{
  font-size: 0.85em !important;
}

.avatar-alumno{
  box-shadow: 0 0 5px #444;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}
