<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Menú Alumnos</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" href="">Alumno Snell</span>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{'active':main.rutaActual=='/dashboard'}" ng-if="main.usuario.yo.id"><a href="#/dashboard"><i class="fas fa-tachometer-alt" aria-hidden></i> Dashboard</a></li>
        <li ng-class="{'active':main.rutaActual=='/acerca'}"><a href="#/acerca"><i class="fas fa-question" aria-hidden></i> Acerca de</a></li>
        <li ng-show="!main.conectado">
          <a href="">
            <i class="fas fa-plug" aria-hidden></i>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="main.usuario.yo.id">
        <li><a href="#" ng-click="main.usuario.logout(true)"><i class="fas fa-sign-out-alt" aria-hidden></i> Salir ({{main.usuario.yo.nombre}})</a></li>
      </ul>
    </div>
  </div>
</nav>
